.App-main {
    display: grid;
    column-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr;
}

.App-main-column {
    background: #fefefe;
    border-radius: 8px;
}

.App-main-column-title {
    background: #EDEDED;
    padding: 16px;
    border-radius: 8px 8px 0 0;
}

.App-main-column-title-icon {
    margin-right: 5px;
}

.App-main-column-body {
    /* height: 100%; */
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 0 0 8px 8px;
    padding: 16px 32px;
    transition: all 2s ease;
}

.App-main-column:nth-child(1) .App-main-column-body {
    box-shadow: 0px 9px 0px #CA4A3D;
}

.App-main-column:nth-child(2) .App-main-column-body {
    box-shadow: 0px 9px 0px #FFA550;
}

.App-main-column:nth-child(3) .App-main-column-body {
    box-shadow: 0px 9px 0px #89E392;
}

.App-main-column-body-item-wrapper {
    padding: 16px 0;
    transition: all 1s ease;
}

.App-main-column-body-item-main {
    display: flex;
    align-items: center;
}

.App-main-column-body-item-main-icon {
    min-width: 18px;
    min-height: 18px;
}

.App-main-column-body-item-main-text {
    padding-left: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    word-break: break-word;
}

.App-main-column-body-item-footer {
    display: flex;
}

.App-main-column-body-item-footer-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    margin-top: 16px;
    word-break: break-word;
}

.App-main-column-body-item-footer-employee {
    min-width: 80px;
    align-self: flex-end;
    margin-left: 15px;
}

.App-main-column-body-item-footer-employee-text {
    font-size: 15px;
    line-height: 26px;
}

.assign-name:hover {
    text-decoration: underline;
}

.assign-emoji {
    pointer-events: none;
}